{% load static i18n %}


<div class="card m-3" id="rampone-checlist">
    <div class="card-header">
        <i data-feather="check-square" class="mx-1 my-1"></i>
        CheckList
    </div>
    <div class="card-body">
        <form method="post" id="activity-form">
            {% csrf_token %}
            <ul class="list-group">
                {% for activity in activities %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <label class="form-check-label" for="activity-{{ activity.id }}">
                            {{ activity.name }}
                        </label>
                        <input
                            type="checkbox"
                            class="form-check-input"
                            name="activity_id"
                            value="{{ activity.id }}"
                            id="activity-{{ activity.id }}"
                            data-activity-id="{{ activity.id }}"
                            {% if activity.id in entries_dict %} checked {% endif %}
                            >
                    </li>
                {% endfor %}
            </ul>
        </form>
    </div>
</div>

<div class="card m-3" id="rampone-data-sheet">
    <div class="card-header">
        <div class="row align-items-center justify-content-around pt-3">
            <div class="col-auto mb-3">
                <div class="page-header-title">
                    <i data-feather="file-text" class="mx-1 my-1"></i>
                    {% trans 'Data Sheet' %}
                </div>
            </div>
            <div class="col-auto mb-3">
                <button class="btn btn-outline-success lift lift-sm" type="button">{% trans 'Print' %}<i data-feather="printer" class="mx-1 my-1"></i></button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="post" id="data-form">
            {% csrf_token %}
            <!-- General Info -->
            <div class="row">
                <!-- Agent -->
                <div class="col-lg-4 col-md-4 col-sm-12 my-1 order-0 ">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-person-badge"></i>
                        </span>
                        <input type="text" class="form-control" disabled required name="agent" id="id_agent" value={{request.user}}>
                    </div>
                </div>
                
                <!-- Date -->
                <div class="col-lg-4 col-md-4 col-sm-12 my-1 order-1">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-calendar-range"></i>
                        </span>
                        <input type="date" class="form-control" disabled required name="date" id="id_date" value={{today_date}}>
                    </div>
                </div>
                
                <!-- License Plate -->
                <div class="col-lg-4 col-md-4 col-sm-12 my-1 order-lg-2 order-md-2 order-4">
                    <div class="form-floating">
                        <input type="text" class="form-control" required name="license_plate" maxlength="10" id="id_license_plate" placeholder="{% trans 'License Plate' %}">
                        <label for="id_license_plate"><i class="bi bi-airplane-fill"></i> {% trans 'License Plate' %}</label>
                    </div>
                </div>
                
                <!-- Flight Arrival -->
                <div class="col-lg-4 col-md-4 col-sm-12 my-1 order-lg-3 order-md-3 order-2">
                    <div class="form-floating">
                        {{ramp_data_form.flight_arrival}}
                        <label for="id_flight_arrival">{% trans 'Flight Arrival' %}</label>
                    </div>
                </div>
                
                <!-- Flight Departure -->
                <div class="col-lg-4 col-md-4 col-sm-12 my-1 order-lg-4 order-md-4 order-3">
                    <div class="form-floating">
                        {{ramp_data_form.flight_departure}}
                        <label for="id_flight_departure">{% trans 'Flight Departure' %}</label>
                    </div>
                </div>

                <!-- Airplane Tire Lock -->
                <div class="col-lg-4 col-md-4 col-sm-12 my-1 order-lg-5 order-md-5 order-5">
                    <div class="input-group form-floating">
                        <input type="time" class="form-control" required name="airplane_tire_lock" id="id_airplane_tire_lock" placeholder="{% trans 'Lock Airplane Tire' %}">
                        <label for="id_airplane_tire_lock"><i data-feather="anchor"></i> {% trans 'Airplane Tire Lock' %}</label>
                        <button class="btn btn-dark" type="button" onclick="setCurrentTime('id_airplane_tire_lock')">
                            <i class="bi bi-clock"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Winery -->
            <div class="row">
                <!-- Winery 1 Open -->
                <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                    <div class="input-group form-floating">
                        <input type="time" class="form-control" required name="winery_1_open" id="id_winery_1_open" placeholder="Open Winery 1">
                        <label for="id_winery_1_open"><i class="bi bi-box-seam"></i> {% trans 'Open Winery 1' %}</label>
                        <button class="btn btn-dark" type="button" onclick="setCurrentTime('id_winery_1_open')">
                            <i class="bi bi-clock"></i>
                        </button>
                    </div>
                </div>
                <!-- Winery 1 Closure -->
                <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                    <div class="input-group form-floating">
                        <input type="time" class="form-control" required name="winery_1_closure" id="id_winery_1_closure" placeholder="Closure Winery 1">
                        <label for="id_winery_1_closure"><i class="bi bi-box-seam-fill"></i> {% trans 'Closure Winery 1' %}</label>
                        <button class="btn btn-dark" type="button" onclick="setCurrentTime('id_winery_1_closure')">
                            <i class="bi bi-clock"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Rear Ladder Coupling -->
            <div class="row">
                <!-- Rear Ladder Coupling Begins -->
                <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                    <div class="input-group form-floating">
                        <input type="time" class="form-control" required name="rear_ladder_coupling_begins" id="id_rear_ladder_coupling_begins" placeholder="Begins of Rear Ladder Coupling">
                        <label for="id_rear_ladder_coupling_begins"><i class="bi bi-ladder"></i> {% trans 'Begins Rear Ladder Coupling' %}</label>
                        <button class="btn btn-dark" type="button" onclick="setCurrentTime('id_rear_ladder_coupling_begins')">
                            <i class="bi bi-clock"></i>
                        </button>
                    </div>
                </div>
                <!-- Rear Ladder Coupling End -->
                <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                    <div class="input-group form-floating">
                        <input type="time" class="form-control" required name="rear_ladder_coupling_end" id="id_rear_ladder_coupling_end" placeholder="End of Rear Ladder Coupling">
                        <label for="id_rear_ladder_coupling_end"><i class="bi bi-ladder"></i> {% trans 'End Rear Ladder Coupling' %}</label>
                        <button class="btn btn-dark" type="button" onclick="setCurrentTime('id_rear_ladder_coupling_end')">
                            <i class="bi bi-clock"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- First Unloading of Luggage -->
            <div class="row">
                <!-- First Unloading of Luggage -->
                <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                    <div class="input-group form-floating">
                        <input type="time" class="form-control" required name="first_unloading_of_luggage" id="id_first_unloading_of_luggage" placeholder="First Unloading of Luggage">
                        <label for="id_first_unloading_of_luggage"><i class="bi bi-suitcase"></i> {% trans 'First Unloading of Luggage' %}</label>
                        <button class="btn btn-dark" type="button" onclick="setCurrentTime('id_first_unloading_of_luggage')">
                            <i class="bi bi-clock"></i>
                        </button>
                    </div>
                </div>
                <!-- Last Unloading of Luggage -->
                <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                    <div class="input-group form-floating">
                        <input type="time" class="form-control" required name="last_unloading_of_luggage" id="id_last_unloading_of_luggage" placeholder="Last Unloading of Luggage">
                        <label for="id_last_unloading_of_luggage"><i class="bi bi-suitcase-fill"></i> {% trans 'Last Unloading of Luggage' %}</label>
                        <button class="btn btn-dark" type="button" onclick="setCurrentTime('id_last_unloading_of_luggage')">
                            <i class="bi bi-clock"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Airplane winery inspection -->
            <div class="row">
                <div class="col-12 my-1">
                    <div class="input-group form-floating">
                        <input type="time" class="form-control" required name="airplane_winery_inspection" id="id_airplane_winery_inspection" placeholder="First Arrival of the Baggage Shipping">
                        <label for="id_airplane_winery_inspection"><i class="bi bi-truck"></i> {% trans 'Airplane Winery Inspection' %}</label>
                        <button class="btn btn-dark" type="button" onclick="setCurrentTime('id_airplane_winery_inspection')">
                            <i class="bi bi-clock"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Arrival of the Baggage Shipping -->
            <div class="row">
                <!-- Arrival of the First Baggage Shipping -->
                <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                    <div class="input-group form-floating">
                        <input type="time" class="form-control" required name="arrival_of_the_first_baggage_shipping" id="id_arrival_of_the_first_baggage_shipping" placeholder="First Arrival of the Baggage Shipping">
                        <label for="id_arrival_of_the_first_baggage_shipping"><i class="bi bi-truck"></i> {% trans 'First Arrival of the Baggage Shipping' %}</label>
                        <button class="btn btn-dark" type="button" onclick="setCurrentTime('id_arrival_of_the_first_baggage_shipping')">
                            <i class="bi bi-clock"></i>
                        </button>
                    </div>
                </div>
                <!-- Arrival of the Last Baggage Shipping -->
                <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                    <div class="input-group form-floating">
                        <input type="time" class="form-control" required name="arrival_of_the_last_baggage_shipping" id="id_arrival_of_the_last_baggage_shipping" placeholder="Last Arrival of the Baggage Shipping">
                        <label for="id_arrival_of_the_last_baggage_shipping"><i class="bi bi-truck-flatbed"></i> {% trans 'Last Arrival of the Baggage Shipping' %}</label>
                        <button class="btn btn-dark" type="button" onclick="setCurrentTime('id_arrival_of_the_last_baggage_shipping')">
                            <i class="bi bi-clock"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Maintenance -->
            <div class="row">
                <!-- Maintenance arrival -->
                <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                    <div class="input-group form-floating">
                        <input type="time" class="form-control" required name="maintenance_arrival" id="id_maintenance_arrival" placeholder="Arrival Maintenace">
                        <label for="id_maintenance_arrival"><i class="bi bi-tools"></i> {% trans 'Arrival Maintenace' %}</label>
                        <button class="btn btn-dark" type="button" onclick="setCurrentTime('id_maintenance_arrival')">
                            <i class="bi bi-clock"></i>
                        </button>
                    </div>
                </div>
                <!-- Maintenance output -->
                <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                    <div class="input-group form-floating">
                        <input type="time" class="form-control" required name="maintenance_output" id="id_maintenance_output" placeholder="Output Maintenace">
                        <label for="id_maintenance_output"><i class="bi bi-tools"></i> {% trans 'Output Maintenace' %}</label>
                        <button class="btn btn-dark" type="button" onclick="setCurrentTime('id_maintenance_output')">
                            <i class="bi bi-clock"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Plant -->
            
            <!-- Gasoline -->

            <!-- Firefighters -->

            <div class="d-grid gap-2 mt-1">
                <button class="btn btn-outline-success lift lift-sm" type="submit">{% trans 'Save' %}</button>
            </div>
        </form>
    </div>
</div>

<div class="card m-3" id="rampone-activities">
    <div class="card-header">
        <i data-feather="activity" class="mx-1 my-1"></i>
        {% trans 'Activities' %}
    </div>
    <div class="card-body">
        <h4>Revisión y Manejo de Equipaje</h4>
        <p class="lead mb-4">
            <strong>Revisión de Maletas:</strong> Inspeccionar y verificar las maletas para asegurarse de que estén correctamente etiquetadas y que cumplan con los requisitos de la aerolínea. Esto incluye la revisión de etiquetas y la verificación de que el equipaje se ajuste a las normas de tamaño y peso.
        </p>
        <p class="lead mb-4">
            <strong>Apoyo en el Manejo de Equipajes:</strong> Supervisar el proceso de carga y descarga de equipajes en los aviones, asegurando que se realice de manera segura y eficiente.
        </p>
        
        <h4>Inspección del Área de Rampa</h4>
        <p class="lead mb-4">
            <strong>Inspección de Seguridad:</strong> Realizar inspecciones regulares del área de rampa para garantizar que se mantenga limpia y libre de obstáculos. Verificar que el equipo de rampa esté en buenas condiciones y que se sigan los procedimientos de seguridad.
        </p>
        <p class="lead mb-4">
            <strong>Control de Accesos:</strong> Monitorear y controlar el acceso al área de rampa, asegurando que solo el personal autorizado pueda ingresar. Esto incluye verificar credenciales y permisos de acceso.
        </p>
        
        <h4>Apoyo y Coordinación</h4>
        <p class="lead mb-4">
            <strong>Observador de Equipajes:</strong> Actuar como observador para garantizar que el equipaje se maneje de manera adecuada, evitando daños y pérdidas.
        </p>
        <p class="lead mb-4">
            <strong>Apoyo a Personal de Rampa:</strong> Brindar apoyo al personal de rampa y otros agentes en la coordinación de las operaciones, asegurando que se cumplan los tiempos de carga y descarga.
        </p>
        
        <h4>Procedimientos Operativos</h4>
        <p class="lead mb-4">
            <strong>Cumplimiento de Normativas:</strong> Asegurarse de que todas las actividades realizadas en el área de rampa cumplan con las normativas de la aerolínea y las regulaciones del aeropuerto.
        </p>
        <p class="lead mb-4">
            <strong>Registro de Incidencias:</strong> Documentar cualquier incidente o irregularidad que ocurra en el área de rampa, informando a los supervisores y tomando las medidas necesarias para resolver los problemas.
        </p>
        
        <h4>Interacción con Otros Departamentos</h4>
        <p class="lead mb-4">
            <strong>Comunicación:</strong> Coordinar con otros departamentos del aeropuerto, como el personal de seguridad y el personal de tierra, para asegurar una operación fluida y eficiente.
        </p>
        <p class="lead mb-4">
            <strong>Informes:</strong> Proporcionar informes y actualizaciones a los supervisores sobre el estado de las operaciones en el área de rampa.
        </p>
        
        <h4>Habilidades y Competencias</h4>
        <p class="lead mb-4">
            <strong>Conocimiento de Seguridad:</strong> Comprensión de las normas y procedimientos de seguridad en el área de rampa.
        </p>
        <p class="lead mb-4">
            <strong>Habilidades de Observación:</strong> Capacidad para observar y detectar posibles problemas o irregularidades en el manejo del equipaje.
        </p>
        <p class="lead mb-4">
            <strong>Comunicación Efectiva:</strong> Habilidad para comunicarse claramente con el personal y coordinar actividades.
        </p>
        <p class="lead mb-5">
            <strong>Atención al Detalle:</strong> Capacidad para realizar inspecciones detalladas y asegurar el cumplimiento de las normas.
        </p>
        
        <div class="alert alert-primary alert-icon mb-0" role="alert">
            <div class="alert-icon-aside"><i data-feather="alert-triangle"></i></div>
            <div class="alert-icon-content">
                <h5 class="alert-heading">Reminder</h5>
                Este rol es fundamental para asegurar que las operaciones en la rampa se lleven a cabo de manera segura y eficiente, minimizando el riesgo de problemas y garantizando la satisfacción del cliente.
            </div>
        </div>
    </div>
</div>


