{% extends 'raw.html' %}

{% load static i18n %}

{% block meta %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Sebastian Morales | sebastian.morales@sebasmoralesd.com" />
{% endblock meta %}

{% block title %}Sebastián Morales | SPIRIT{% endblock title %}

{% block favicons %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon/spirit/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/spirit/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/spirit/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/spirit/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/spirit/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/spirit/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{% static 'favicon/spirit/mstile-144x144.png' %}">
    <meta name="msapplication-config" content="{% static 'favicon/spirit/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
{% endblock favicons %}

{% block main_css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock main_css %}

{% block css %}
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
{% endblock css %}

{% block aditional_header_js %}
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
{% endblock aditional_header_js %}

{% block body_css %}nav-fixed{% endblock body_css %}

{% block main %}
    {% include 'spirit/includes/top_navbar.html' %}
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            {% include 'spirit/includes/sidenav.html' %}
        </div>
        <div id="layoutSidenav_content">
            <main>
                <!-- Main header-->
                {% block main_header %}{% endblock main_header %}
                    
                <!-- Main content-->
                <div class="container-xl px-md-4 px-0">
                    {% block content %}{% endblock content %}
                </div>
            </main>

            {% include 'spirit/includes/footer.html' %}
        </div>
    </div>
{% endblock main %}

{% block aditional_js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
{% endblock aditional_js %}

{% block main_js %}
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock main_js %}

{% block license %}{% endblock license %}