{% load static i18n %}

<footer class="footer-admin mt-auto footer-light">
  <div class="container-xl px-4">
    <div class="row">
      <div class="col-md-6 small">&copy; <a href="https://sebasmoralesd.com">Sebastián Morales</a> {% now 'Y' %}.</div>
      <div class="col-md-6 text-md-end small">
        <a href="{% url 'spirit_core:index' %}">
          {% trans 'Privacy Policy' %}
        </a>
        &middot;
        <a href="{% url 'spirit_core:index' %}">
          {% trans 'Terms &amp; Conditions' %}
        </a>
      </div>
    </div>
  </div>
</footer>
