{% load static i18n %}


<div class="card m-3" id="pbe-checlist">
    <div class="card-header">
        <i data-feather="check-square" class="mx-1 my-1"></i>
        CheckList
    </div>
    <div class="card-body">
        <form>
            <div class="row row-cols-3">
                <div class="col">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check 1</label>
                      </div>
                </div>
                <div class="col">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck2">Check 2</label>
                      </div>
                </div>
                <div class="col">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck3">
                        <label class="form-check-label" for="exampleCheck3">Check 3</label>
                      </div>
                </div>
                <div class="col">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck4">
                        <label class="form-check-label" for="exampleCheck4">Check 4</label>
                      </div>
                </div>
                <div class="col">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck5">
                        <label class="form-check-label" for="exampleCheck5">Check 5</label>
                      </div>
                </div>
                <div class="col">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck6">
                        <label class="form-check-label" for="exampleCheck6">Check 6</label>
                      </div>
                </div>
                <div class="col">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck7">
                        <label class="form-check-label" for="exampleCheck7">Check 7</label>
                      </div>
                </div>
                <div class="col">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck8">
                        <label class="form-check-label" for="exampleCheck8">Check 8</label>
                      </div>
                </div>
                <div class="col">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck9">
                        <label class="form-check-label" for="exampleCheck9">Check 9</label>
                      </div>
                </div>
                <div class="col">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck10">
                        <label class="form-check-label" for="exampleCheck10">Check 10</label>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 d-grid gap-2">
                    <button type="submit" class="btn btn-outline-success">{% trans 'Save' %}</button>
                </div>
                <div class="col-6 d-grid gap-2">
                    <button type="reset" class="btn btn-outline-danger">{% trans 'Reset' %}</button>
                </div>
            </div>
            
        </form>
    </div>
</div>

<div class="card m-3" id="pbe-activities">
    <div class="card-header">
        <i data-feather="activity" class="mx-1 my-1"></i>
        Activities
    </div>
    <div class="card-body">
        <h4>Step 1: Start the process</h4>
        <p class="lead mb-4">Here is some example text of a longer version of a first step. This format is great when you need to explain things more, not just using a ordered list.</p>
        <h4>Step 2: Continue doing something</h4>
        <p class="lead mb-4">We're using built-in elements and text utilities to make this list more legible and understandable. This is a great starting point for a step by step guide within your knowledge base article.</p>
        <h4>Step 3: Finish the process</h4>
        <p class="lead mb-5">We've used spacing utilities, text utilities, and other components within this article example. This is just an example layout of a few things you can do within an article page. Thanks for reading!</p>
        <div class="alert alert-primary alert-icon mb-0" role="alert">
            <div class="alert-icon-aside"><i data-feather="alert-triangle"></i></div>
            <div class="alert-icon-content">
                <h5 class="alert-heading">Reminder</h5>
                If there is something that you really want to emphasize, use the alert component, or our custom icon alert component like this one here!
            </div>
        </div>
    </div>
</div>

<div class="card m-3" id="pbe-data-sheet">
    <div class="card-header">
        <div class="row align-items-center justify-content-around pt-3">
            <div class="col-auto mb-3">
                <div class="page-header-title">
                    <i data-feather="file-text" class="mx-1 my-1"></i>
                    Data Sheet
                </div>
            </div>
            <div class="col-auto mb-3">
                <button class="btn btn-outline-success lift lift-sm" type="button">Print<i data-feather="printer" class="mx-1 my-1"></i></button>
                
            </div>
        </div>
        
        </div>
    <div class="card-body">

    </div>
</div>