<!-- topics -->
<h4 class="mb-0 mt-5">Topics</h4>
<hr class="mt-2 mb-4" />
<div class="row">
    <div class="col-lg-4 mb-4">
        <!-- Knowledge base category card 1-->
        <a class="card lift lift-sm h-100" href="knowledge-base-category.html">
            <div class="card-body">
                <h5 class="card-title text-primary mb-2">
                    <i class="me-2" data-feather="edit-2"></i>
                    Guidelines
                </h5>
                <p class="card-text mb-1">Information about what you can and can't do</p>
            </div>
            <div class="card-footer"><div class="small text-muted">0 articles in this category</div></div>
        </a>
    </div>
    <div class="col-lg-4 mb-4">
        <!-- Knowledge base category card 5-->
        <a class="card lift lift-sm h-100" href="knowledge-base-category.html">
            <div class="card-body">
                <h5 class="card-title text-secondary mb-2">
                    <i class="me-2" data-feather="lock"></i>
                    Privacy &amp; Content
                </h5>
                <p class="card-text mb-1">Our privacy policy and information on how we track and utilize user data</p>
            </div>
            <div class="card-footer"><div class="small text-muted">0 articles in this category</div></div>
        </a>
    </div>
    <div class="col-lg-4 mb-4">
        <!-- Knowledge base category card 6-->
        <a class="card lift lift-sm h-100" href="knowledge-base-category.html">
            <div class="card-body">
                <h5 class="card-title text-red mb-2">
                    <i class="me-2" data-feather="map"></i>
                    Miscellaneous
                </h5>
                <p class="card-text mb-1">Other troubleshooting, help, and support articles related to our products and services</p>
            </div>
            <div class="card-footer"><div class="small text-muted">0 articles in this category</div></div>
        </a>
    </div>
</div>