{% extends 'spirit_core.html' %}

{% load static i18n %}

{% block aditional_meta %}
    {% if LANGUAGE_CODE == 'es' %}
        <meta name="description" content="Sebastián Morales - Guías, Checklist y otros para Agente Calificado SPIRIT">
        <meta name="keywords" content="Sebastián Morales, Spirit, Airline, MDE, Longport">
    {% else %}
        <meta name="description" content="Sebastián Morales - Guides, Checklist and others for Qualified Agent SPIRIT">
        <meta name="keywords" content="Sebastian Morales, Spirit, Airline, MDE, Longport">
    {% endif %}
{% endblock aditional_meta %}

{% block title %}
        {% trans 'Sebastian Morales | Knowledge Base' %}
{% endblock title %}

{% block main_header %}
    {% include 'spirit/partials/header.html' %}
{% endblock main_header %}

{% block content %}
    {% include 'spirit/partials/categories.html' %}
    {% include 'spirit/partials/topics.html' %}
{% endblock content %}
    