{% extends 'spirit_core.html' %}

{% load static i18n %}

{% block aditional_meta %}
    <meta name="description" content="{% trans 'Sebastián Morales - Guides, Checklist and others for Qualified Agent SPIRIT on the position of ramp one' %}">
    <meta name="keywords" content="{% trans 'Sebastian Morales, Spirit, Airline, MDE, Longport' %}">
{% endblock aditional_meta %}

{% block title %}
    {% trans 'Sebastian Morales | Spirit | Ramp One' %}
{% endblock title %}

{% block aditional_header_js %}
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
{% endblock aditional_header_js %}

{% block main_header %}
    {% include 'rampone/includes/header.html' %}
{% endblock main_header %}

{% block content %}
    {% include 'rampone/partials/content.html' %}
{% endblock content %}

{% block aditional_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('activity-form');

            form.addEventListener('change', function (event) {
                if (event.target.type === 'checkbox') {
                    const activityId = event.target.dataset.activityId;
                    const checked = event.target.checked;
                    const localDateTime = new Date();
                    const localDate = localDateTime.toLocaleDateString('en-US');
                    const localTime = localDateTime.toLocaleTimeString('en-US', { hour12: false });

                    fetch(window.location.href, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: new URLSearchParams({
                            'activity_id': activityId,
                            'local_time': localTime,
                            'local_date': localDate,
                        })
                    }).then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            alert(data.error);
                            event.target.checked = !checked;
                        }
                    }).catch(error => console.error('Error:', error));
                }
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const form = document.getElementById('data-form');

            form.addEventListener('submit', function(event){
                event.preventDefault();

                const localDateTime = new Date();
                const localDate = localDateTime.toLocaleDateString('en-US');
                const localTime = localDateTime.toLocaleTimeString('en-US', { hour12: false });
                const formBody = new URLSearchParams({
                    'form_id': 'data_form',
                    'local_time': localTime,
                    'local_date': localDate,
                });

                fetch(window.location.href,{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: formBody
                }).then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    }
                }).catch(error => console.error('Error:', error));
            });
        });
    </script>

    <script>
        function setCurrentTime(inputId) {
            const input = document.getElementById(inputId);
            const now = new Date();
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            input.value = `${hours}:${minutes}`;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
{% endblock aditional_js %}