{% load static i18n %}

<section id="about" class="about section">
  <div class="container section-title" data-aos="fade-up">
    <h2>{% trans 'About' %}</h2>
    <p>
      {% blocktrans %}
        I am looking for an employment opportunity, where I can take advantage of
        my organizational, communication and leadership skills in the development
        or automation of quality assurance and processes.
      {% endblocktrans %}
    </p>
  </div>

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 justify-content-center">
      <div class="col-sm-4">
        <img
          src="{% static 'img/my-profile-cut-2.webp' %}"
          class="img-fluid"
          alt="Sebastian Morales - Developer and Automation QA with expertise in automated testing, Python, Java, C#, Selenium, Appium, and more. Experienced in creating automation frameworks and conducting API, manual, and functional testing."
        />
      </div>
      <div class="col-lg-8 content">
        <h2>{% trans 'Backend Developer &amp; QA (Automation/Functional)' %}</h2>
        <p class="fst-italic py-3">
          {% blocktrans %}
            Solid experience in software development and automation, leading work teams, optimizing processes and improving continuous software quality.
          {% endblocktrans %}
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>{% trans 'Email:' %}</strong>
                <span
                  ><a
                    href="mailto:sebasmoralesd@gmail.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    >sebasmoralesd@gmail.com</a
                  ></span
                >
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>{% trans 'Phone:' %}</strong>
                <span>
                  <a
                    href="https://wa.me/573002954040"
                    target="_blank"
                    rel="noopener noreferrer"
                    >+57 300 295 4040
                  </a>
                </span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>{% trans 'Residence:' %}</strong>
                <span>Colombia, Antioquia</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>{% trans 'Availability:' %}</strong>
                <span>{% trans 'Not Available' %}</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>{% trans 'Age:' %}</strong>
                <span>{{ age }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>{% trans 'Degree:' %}</strong>
                <span>{% trans 'Systems Ing. (Student)' %}</span>
              </li>

              <li>
                <i class="bi bi-chevron-right"></i> <strong>{% trans 'Website:' %}</strong>
                <span
                  ><a href="https://sebasmoralesd.com" target="_blank"
                    >sebasmoralesd.com</a
                  ></span
                >
              </li>
            </ul>
          </div>
        </div>
        <p class="py-3">
          {% blocktrans %}
            Committed to contributing to the success of each project, either in
            promoting efficiency and excellence in software development or product
            quality.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
</section>
