{% load static %}

<!-- Hero Section -->
<section id="hero" class="hero section">
  <img src="{% static 'img/hero-bg.jpg' %}" alt="" data-aos="fade-in" class="" />
  <!-- <img src="https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg?size=626&ext=jpg&ga=GA1.1.1141335507.1719360000&semt=ais_user" alt="" data-aos="fade-in" class="" /> -->

  <div class="container" data-aos="fade-up" data-aos-delay="150">
    <h2>Sebastián Morales</h2>
    <p>
      I'm
      <span
        class="typed"
        data-typed-items="Developer, QA, Freelancer"
        ></span
      ><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span
      ><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
    </p>
  </div>
</section>
<!-- /Hero Section -->
