{% load static i18n %}

<section id="resume" class="resume section">
  <div class="container section-title" data-aos="fade-up">
    <h2>{% trans 'Resume' %}</h2>
    <p>
      {% blocktrans %}
        I am a developer with a solid background in quality assurance (QA) and
        automation; I specialize in the realm of automated testing, following the
        ISTQB standards.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        Having done the hat of a backend developer in the past, I seamlessly blend
        my coding prowess with a deep understanding of testing principles, agile
        methodologies, and best practices throughout the software development
        lifecycle (SDLC).
      {% endblocktrans %}
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title" id="profesional-experience">Professional Experience</h3>
        <div class="resume-item">
          <h4>Encora</h4>
          <p><em>{% trans 'Senior Quality Assurance Engineer' %}</em></p>
          <h5>{% trans 'Dec 2021 - Aug 2023' %}</h5>
          <p>
            {% blocktrans %}
              Lead the creation of an automation framework on the banking software
              in C# with Selenium and POM design pattern that contains all the
              specifications required for the projects to be able to standardize
              automation testing (mobile, web and API) and automate the happy path
              tests, regression tests, negative tests, end-to-end testing, and
              others.
            {% endblocktrans %}
          </p>
          <div class="resume-item">
            <h5>{% trans 'QA Automation' %}</h5>
            <ul>
              <li>
                {% blocktrans %}
                  Lead the creation of an automation framework on the banking
                  software in C# with Selenium and POM design pattern that
                  contains all the specifications required for the projects to be
                  able to standardize automation testing (mobile, web and API) and
                  automate the happy path tests, regression tests, negative tests,
                  end-to-end testing, and others.
                {% endblocktrans %}
              </li>
            </ul>
          </div>
          <div class="resume-item">
            <h5>{% trans 'API Testing' %}</h5>
            <ul>
              <li>
                {% blocktrans %}
                  Conducted API testing on both projects to ensure that the
                  different components of the system were integrated and worked
                  together seamlessly.
                {% endblocktrans %}
              </li>
            </ul>
          </div>
          <div class="resume-item">
            <h5>{% trans 'Manual and Functional Testing' %}</h5>
            <ul>
              <li>
                {% blocktrans %}
                  Conducted manual testing on both projects to ensure that the
                  requirements and specifications defined in the user stories (HU)
                  were met, focusing mainly on the risk matrix following the test
                  plan.
                {% endblocktrans %}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="resume-item">
          <h4>Esstrategia</h4>
          <p><em>{% trans 'Full Stack Developer and QA Engineer' %}</em></p>
          <h5>{% trans 'Feb 2018 - Dec 2021' %}</h5>
          <div class="resume-item">
            <h5>{% trans 'CRM and ERP' %}</h5>
            <ul>
              <li>
                {% blocktrans %}
                  Implemented a CRM system for an educational institution that
                  integrates data from Moodle and WordPress platforms to provide a
                  centralized and organized view of students, course information,
                  ERP and CRM.
                {% endblocktrans %}
              </li>
            </ul>
          </div>
          <div class="resume-item">
            <h5>{% trans 'Moodle (E-Learning Education Platform)' %}</h5>
            <ul>
              <li>
                {% blocktrans %}
                  Used Moodle to create a virtual education platform, including
                  course management, enrollment tracking, and reporting features.
                {% endblocktrans %}
              </li>
            </ul>
          </div>
          <div class="resume-item">
            <h5>{% trans 'Sentinel (Medical Qualification Software)' %}</h5>
            <ul>
              <li>
                {% blocktrans %}
                  Developed medical qualification software using natural language
                  processing (NLP), support vector machines (SVM), and decision
                  tree algorithms to determine the origin qualification of medical
                  conditions.
                {% endblocktrans %}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-6 order-lg-2" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title" id="education">{% trans 'Education' %}</h3>
        <div class="resume-item">
          <h4>{% trans 'Computer Engineer (Student)' %}</h4>
          <h5>U. Catolica del Norte</h5>
          <h6><em>{% trans '2021 - Now' %}</em></h6>
        </div>

        <div class="resume-item">
          <h4>{% trans 'Systems Engineer (Student)' %}</h4>
          <h5>U. Eafit</h5>
          <h6><em>2018 - 2020</em></h6>
        </div>
      </div>

      <div class="col-lg-6 order-lg-1" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title" id="certifications">{% trans 'Certifications' %}</h3>
        <div class="resume-item">
          <h4>Microsoft</h4>
          <ul>
            <li>
              <a
                href="https://www.credly.com/badges/edfe7415-d5dc-4d7b-894d-848f5d7727f4/public_url"
                target="_blank"
                rel="noopener noreferrer"
              >
                Microsoft Certified: Azure AI Fundamentals
              </a>
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>UDEMY</h4>
          <h6><em>Python</em></h6>
          <ul>
            <li>
              <a
                href="https://www.udemy.com/certificate/UC-b8a07d32-ac44-4ea5-b594-311f81a0e3c9/"
                target="_blank"
                rel="noopener noreferrer"
              >
                {% trans 'Python University with Frameworks Django, Flask, etc.' %}
              </a>
            </li>
            <li>
              <a
                href="https://www.udemy.com/certificate/UC-f92f1ac3-b463-4cb1-a1b4-4f0dc1707d76/"
                target="_blank"
                rel="noopener noreferrer"
              >
                {% trans 'Python 3 Master Course: Learn from Scratch.' %}
              </a>
            </li>
            <li>
              <a
                href="https://www.udemy.com/certificate/UC-6bd2ba41-5122-4e8c-9b36-d741d97ea540/"
                target="_blank"
                rel="noopener noreferrer"
              >
                {% trans 'Django with React | An Ecommerce Website' %}
              </a>
            </li>
            <li>
              <a
                href="https://www.udemy.com/certificate/UC-f9cf5162-3f95-41ac-97ab-ad4b8b1b9343/"
                target="_blank"
                rel="noopener noreferrer"
                >
                {% trans 'Course Django and Django rest framework from basic to professional' %}
              </a>
            </li>
            <li>
              <a
                href="https://www.udemy.com/certificate/UC-3a389e47-6c91-4f98-be19-a5a6682c4b0f/"
                target="_blank"
                rel="noopener noreferrer"
              >
                {% trans 'Purchase and Billing System with Python using Django LTS' %}
              </a>
            </li>
            <li>
              <a
                href="https://www.udemy.com/certificate/UC-e750efe5-8154-4cfc-b38e-8a873dc26baa/"
                target="_blank"
                rel="noopener noreferrer"
              >
                {% trans 'Django Hands-On Course: Backend Web Development with Python' %}
              </a>
            </li>
          </ul>
          <h6><em>Machine Learning</em></h6>
          <ul>
            <li>
              <a
                href="https://www.udemy.com/certificate/UC-93df8865-bef0-44be-8619-4fd13880af3a/"
                target="_blank"
                rel="noopener noreferrer"
              >
                {% trans 'Python for non-mathematicians: From 0 to facial recognition' %}
              </a>
            </li>
            <li>
              <a
                href="https://www.udemy.com/certificate/UC-ccf6938b-06fb-4617-be1b-3fa60b4f62f0/"
                target="_blank"
                rel="noopener noreferrer"
              >
                {% trans 'Python-Introduction to Data Science and Machine learning A-Z' %}
              </a>
            </li>
            <li>
              <a
                href="https://www.udemy.com/certificate/UC-9963809b-66de-4ac9-a552-326853bec2c9/"
                target="_blank"
                rel="noopener noreferrer"
              >
                BERT
              </a>
            </li>
            <li>
              <a
                href="https://www.udemy.com/certificate/UC-99cd2da2-cc6d-422a-bc38-ed94ddea5f00/"
                target="_blank"
                rel="noopener noreferrer"
              >
                NLP
              </a>
            </li>
            <li>
              <a
                href="https://www.udemy.com/certificate/UC-64b3f99e-fda0-4018-979e-9b05e0662c7e/"
                target="_blank"
                rel="noopener noreferrer"
              >
                {% trans 'Machine Learning with Python' %}
              </a>
            </li>
          </ul>
          <h6><em>Java</em></h6>
          <ul>
            <li>
              <a
                href="https://www.udemy.com/certificate/UC-0ac4a3fe-8c77-4cc5-98fd-1a4fc97456db/"
                target="_blank"
                rel="noopener noreferrer"
              >
                {% trans 'Java University - From Zero to Expert - More Complete' %}
              </a>
            </li>
          </ul>
          <h6><em>JavaScript</em></h6>
          <ul>
            <li>
              <a
                href="https://www.udemy.com/certificate/UC-e0002e00-8d5e-4dd9-a918-e59ae133b4a1/"
                target="_blank"
                rel="noopener noreferrer"
              >
                {% trans 'JavaScript University - From Zero to JavaScript Expert' %}
              </a>
            </li>
          </ul>
          
        </div>
      </div>

      <div class="col-lg-6 order-lg-3" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">{% trans 'Watched' %}</h3>
        <div class="resume-item">
          <h4>Youtube</h4>
          <ul>
            <li>
              <a
                href="https://youtube.com/playlist?list=PLhnPmx2muNWS9MgtFj1bCMo6qFpCKKY4z"
                target="_blank"
                rel="noopener noreferrer"
              >
                {% trans 'WEB Automation – Serenity BDD | cucumber | Screen Play | Java' %}
              </a>
            </li>
            <li>
              <a
                href="https://youtube.com/playlist?list=PLhnPmx2muNWR0n7t8JV9sjvv8mbJN-fYH"
                target="_blank"
                rel="noopener noreferrer"
              >
                {% trans 'Selenium with Python Behave (BDD)' %}
              </a>
            </li>
            <li>
              <a
                href="https://youtube.com/playlist?list=PLas30d-GGNa2UW9-1H-NCNrUocvWD9cyh"
                target="_blank"
                rel="noopener noreferrer"
              >
                {% trans 'Python with Selenium Course' %}
              </a>
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Udemy</h4>
          <h6><em>{% trans 'QA Automation' %}</em></h6>
          <ul>
            <li>{% trans 'Selenium with Java and Cucumber: The definitive Course' %}</li>
            <li>{% trans 'QA Automation with Serenity Course - From novice to expert!' %}</li>
            <li>{% trans 'UI Automation with Serenity BDD (Selenium, Cucumber, Junit)' %}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
