{% extends 'spirit/account/spirit_account_base.html' %}

{% load static i18n %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Unsuccessfully activation account</h3></div>
                <div class="card-body">
                    <div class="text-center">
                        <p>Your account can not be activated</p>
                        <p>Please contact a supervisor or email us at: <a href="mailto:spirit@sebasmoralesd.com">spirit@sebasmoralesd.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}