{% extends 'spirit/account/spirit_account_base.html' %}
{% load static i18n %}
{% block body_css %}container{% endblock body_css %}

{% block content %}
<div class="min-vh-100 d-flex align-items-center justify-content-center">
  <div class="card">
    <div class="text-center mt-2">
      <a href="{% url 'spirit_core:index' %}">
        <img
          src="{% static 'favicon/spirit/favicon.ico' %}"
          class="card-img-top img-fluid"
          alt="Spirit favicon"
          style="max-width: 50px"
        />
      </a>
    </div>
    <div class="card-body">
      <h1 class="card-title text-center">
        <a href="{% url 'spirit_core:index' %}">{% trans 'Spirit Knowledge Base' %}</a>
      </h1>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />

        <div class="row">
          <div class="col-12 form-floating mb-3">
            {{ form.username }}
            <label for="login_username" class="form-label">{% trans 'Username, Email or Employee ID' %}</label>
            {% for error in form.username.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
          </div>

          <div class="col-12 form-floating mb-3">
            {{ form.password }}
            <label for="login_password" class="form-label">{% trans 'Password' %}</label>
            {% for error in form.password.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
          </div>

          <div class="col-12">
            {{ form.remember_me }}
            <label for="login_remember_me" class="form-label">{% trans 'Remember me' %}</label>
          </div>
        </div>

        <div class="d-grid gap-2 mb-2">
          <!-- Botón de login -->
          <button type="submit" class="btn btn-success lift lift-sm">{% trans 'Log in' %}</button>

          <!-- Registrarme -->
          <a class="btn btn-outline-warning" href="{% url 'spirit_core:register' %}">
            {% trans 'You do not have an account? Sign up' %}
          </a>
        </div>
      </form>

      {% include 'spirit/account/includes/footer.html' %}
    </div>
  </div>
</div>
{% endblock content %}
