{% extends 'spirit/account/spirit_account_base.html' %}

{% load static i18n %}

{% block body_css %}container{% endblock body_css %}

{% block content %}
<div class="min-vh-100 d-flex align-items-center justify-content-center py-2">
  <div class="card">
    <div class="text-center mt-2">
      <a href="{% url 'spirit_core:index' %}">
        <img
          src="{% static 'favicon/spirit/favicon.ico' %}"
          class="card-img-top img-fluid"
          alt="Spirit favicon"
          style="max-width: 50px"
        />
      </a>
    </div>

    <div class="card-body">
      <h1 class="card-title text-center">
        <a href="{% url 'spirit_core:index' %}">{% trans 'Spirit Knowledge Base' %}</a>
      </h1>

      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="row">
          <!-- Nombres -->
          <div class="col-6 form-floating mb-1">
            {{ form.first_name }}
              <label for="register_first_name" class="form-label">{% trans 'Name' %}</label>
              {% for error in form.first_name.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
          </div>
    
          <!-- Apellidos -->
          <div class="col-6 form-floating mb-1">
            {{ form.last_name }}
              <label for="register_last_name" class="form-label">{% trans 'Last name' %}</label>
              {% for error in form.last_name.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
          </div>
    
          <!-- Usuario -->
          <div class="col-6 form-floating mb-1">
            {{ form.username }}
              <label for="register_username" class="form-label">{% trans 'Username' %}</label>
              {% for error in form.username.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
          </div>

          <!-- Employee ID -->
          <div class="col-6 form-floating mb-1">
            {{ form.employee_id }}
              <label for="register_employee_id" class="form-label">{% trans 'Employee ID' %}</label>
              {% for error in form.employee_id.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
          </div>
    
          <!-- Correo -->
          <div class="col-6 form-floating mb-1">
            {{ form.email }}
              <label for="register_email" class="form-label">{% trans 'Spirit Email' %}</label>
              {% for error in form.email.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
          </div>

          <!-- Celular -->
          <div class="col-6 form-floating mb-1">
            {{ form.cell_phone }}
              <label for="register_phone" class="form-label">{% trans 'Cell phone' %}</label>
              {% for error in form.cell_phone.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
          </div>
    
          <!-- Contraseña -->
          <div class="col-6 form-floating mb-1">
              {{ form.password }}
              <label for="register_password" class="form-label">{% trans 'Password' %}</label>
              {% for error in form.password.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
          </div>
    
          <!-- Confirmar contraseña -->
          <div class="col-6 form-floating mb-1">
            {{ form.confirm_password }}
              <label for="register_confirm_password" class="form-label">{% trans 'Confirm Password' %}</label>
              {% for error in form.confirm_password.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
          </div>
    
          
    
          <!-- Cumpleaños -->
          <div class="col-6 form-floating mb-1">
            {{ form.birthday }}
              <label for="register_birthday" class="form-label">{% trans 'Birthday' %}</label>
              {% for error in form.birthday.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
          </div>

          <!-- Términos y condiciones -->
          <div class="col-12">
            <div class="form-check mb-1">
              {{ form.privacy }}
              <label class="form-check-label" for="register_privacy_policy">{% trans 'Terms and Conditions' %}</label>
              {% for error in form.privacy.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
    
        <div class="d-grid gap-2 mb-2">
          <!-- Botón de registro -->
          <button type="submit" class="btn btn-success lift lift-sm">
            {% trans 'Register' %}
          </button>

          <!-- Iniciar sesión -->
          <a class="btn btn-outline-warning" href="{% url 'spirit_core:login' %}">
            {% trans 'Do you already have an account? Log in' %}
          </a>
        </div>
      </form>

      {% include 'spirit/account/includes/footer.html' %}
    </div>
  </div>
</div>
{% endblock content %}
