{% load static i18n %}

<!-- Contact Section -->
<section id="contact" class="contact section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2 class="text-center">{% trans 'Contact' %}</h2>
    <p>{% trans 'What would you like to talk about?' %}</p>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-7">
        {% include 'sections/contact/form.html' %}
      </div>

      <div class="col-lg-5">
        <div class="info-wrap">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>{% trans 'Address' %}</h3>
              <p>Colombia, Antioquia</p>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <a
              href="https://api.whatsapp.com/send?phone=573002954040"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="whatsapp number 573002954040"
              ><i class="bi bi-telephone flex-shrink-0"></i>
            </a>
            <div>
              <h3>{% trans 'Call Me' %}</h3>
              <p>
                <a
                  href="https://api.whatsapp.com/send?phone=573002954040"
                  target="_blank"
                  rel="noopener noreferrer"
                  >+57 300 295 4040
                </a>
              </p>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>{% trans 'Email Me' %}</h3>
              <p>sebasmoralesd@gmail.com</p>
              <p>sebastian@sebasmoralesd.com</p>
            </div>
          </div>
          <!-- End Info Item -->
        </div>
      </div>
    </div>
  </div>
</section>

{% if show_modal %}
<!-- Modal de Bootstrap -->
<div class="modal fade" id="contactSuccessModal" tabindex="-1" aria-labelledby="contactSuccessModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="contactSuccessModalLabel">{% trans 'Your message has been sent!' %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
      </div>
      <div class="modal-body">
        <p>
          {% trans "If you have any questions or need additional information, you can write to me directly at my personal number:" %}
          <a href="https://wa.me/573002954040" target="_blank" rel="noopener noreferrer">+57 300 295 4040</a>
          {% trans "or email me at" %}
          <a href="mailto:sebasmoralesd@gmail.com" target="_blank" rel="noopener noreferrer">sebasmoralesd@gmail.com</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
      </div>
    </div>
  </div>
</div>

<!-- Script para mostrar el modal al cargar la página -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var myModal = new bootstrap.Modal(document.getElementById('contactSuccessModal'), {});
    myModal.show();
  });
</script>
{% endif %}